body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER & NAV BAR */

.ant-menu-horizontal .ant-menu-item {
  height: 80px; /* Change the value as needed */

}

.ant-menu-horizontal .ant-menu-item {
  font-size: 20px; /* Change the font size as needed */
  padding: 16px 24px; /* Adjust the padding as needed */

}

.ant-menu-horizontal {
  display: flex;
  justify-content: center;
}


.ant-menu-horizontal .ant-menu-item {
  margin: 0 10px; /* You can adjust the margin as needed */
}



.inner-header {
  height: 100px; /* Adjust the height as needed */
  background-color: #ffffff; /* Background color for the inner header */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Spread the contents to both ends */
  padding: 0 20px; /* Add padding to create some space around the logo */
  color: #fff; /* Text color */
  border-bottom: 0.5px solid #e7e7e9; /* Add a bottom border */
}


.inner-header img {
  margin-right: 10px; /* Add some space to the right of the logo */ /* Style the logo */
}

/* BANNER */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust the height as needed */
}


.banner-content {  /* Style the banner content */
  text-align: center; 
}


.banner-content h1 { /* Style the <h1> and <p> inside the banner */
  font-size: 24px; /* Adjust the font size as needed */
  margin-bottom: 10px; /* Add spacing between <h1> and <p> */
}

.banner-content p {
  font-size: 16px; /* Adjust the font size as needed */
  color: #333; /* Text color for the <p> element */
}


.regInput { /*  Style the input */
  /* Add your styles for the input element here */
}